.main-nav {
  @include list-reset;

  grid-row-start: 4;

  list-style: none;
  padding-top: 20px;

  box-sizing: border-box;
}

.main-nav__item {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  // @include outline(red);
}

.main-nav__item a {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: center;
  @include menu-item;
}

.main-nav__item:hover {
  opacity: 0.7;
}

.main-nav__item svg {
  margin-right: 10px;
  fill: $dark-blue;
  // @include outline(green);
}

.main-nav__item--active a {
  color: $blue;
}

.main-nav__item--active svg {
  fill: $blue;
}

.main-nav__item--disabled {
  opacity: 0.5;
}
