.nearest {
  box-shadow: 1px 3px 5px $black;
  margin-right: 20px;
}

.nearest--reherseal {
  grid-area: reherseal;
  background: white;
  margin-top: 20px;
}

.nearest--gigs {
  grid-area: gigs;
  background: white;
}

.nearest__card {
  box-sizing: border-box;
  width: 90%;
  margin: 0 auto;
  border: 1px solid #DFDFDF;
  box-shadow: 3px 4px 5px lightgray;
  margin-bottom: 20px;
  padding: 20px;
}

.nearest h2 {
  margin: 20px;

  @include h2-desktop;
}

.nearest b {
  display: inline-block;
  margin-bottom: 20px;
  @include h3-desktop;
}

.nearest__date {
  margin: 10px 0;

  @include main-text;
}

.nearest__details {
  display: block;
  margin-bottom: 10px;
  @include main-text-mini;
}

.nearest__card {
  display: grid;
  grid-template-columns: 1fr fit-content(90px);
  grid-template-rows: 20px fit-content(20px) 20px 20px;
}

.nearest--gigs .nearest__card {
  grid-template-columns: 0.5fr 0.5fr;
}

.nearest--reherseal img {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  width: 90px;
  height: 90px;
}

.nearest--gigs img {
  margin-left: auto;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 90px;
  height: 90px;
}


.nearest__card b {
  grid-column-start: 1;
}

.nearest__date {
  grid-column-start: 1;
  grid-row-start: 2;
}

.nearest__details--time {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
}

.nearest__details--price {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
}

.nearest__details--sets {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
}

.nearest__details--soundcheck {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
}

