.page {
  display: grid;
  grid-template-areas:
    "navigation header"
    "navigation main"
  ;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 60px 1fr;

  outline: 2px solid $gray;

  min-height: 99vh;
}

.page__nav {
  grid-area: navigation;

  display: grid;
  grid-template-rows: 60px 20px 60px 1fr;

  padding-left: 20px;
}

.page__nav h1 {
  @include logo;
}

.page__header {
  grid-area: header;
  display: flex;
  align-items: center;
}


.page__main {
  grid-area: main;
  box-sizing: border-box;

  // @include outline(blue);

  display: grid;
  grid-template-areas:
    "tasks reherseal"
    "tasks gigs"
  ;
  grid-template-columns: 55% 1fr;
  grid-template-rows: fit-content(230px) fit-content(200px);

  gap: 20px;

  background-color: rgb(236, 235, 235);
}
