.page {
  display: grid;
  grid-template-areas:
    "navigation header"
    "navigation main"
  ;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 60px 1fr;

  outline: 2px solid $gray;

  min-height: 99vh;
  min-width: 320px;
}

.page .page__nav-button {
  display: none;
}

.page__nav {
  grid-area: navigation;

  display: grid;
  grid-template-rows: 60px 20px 60px 1fr;

  padding-left: 20px;
}

.page__nav h1 {
  @include logo;
}

.page__header {
  grid-area: header;
  display: flex;
  align-items: center;
}

.page__main {
  grid-area: main;
  box-sizing: border-box;

  // @include outline(blue);

  display: grid;
  grid-template-areas:
    "tasks reherseal"
    "tasks gigs"
  ;
  grid-template-columns: 55% 1fr;
  grid-template-rows: fit-content(230px) fit-content(200px);

  gap: 20px;

  background-color: rgb(236, 235, 235);
}

.page__main--audio {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 1024px) {
  .page {

    grid-template-columns: 220px 1fr;
    grid-template-rows: 60px 1fr;
  }

  .page__main {
    grid-template-columns: 50% 1fr;
  }
}

@media (max-width: 867px) {
  .page {
    grid-template-areas:
      "navigation"
      "main"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    outline: 2px solid $gray;
  }

  .page .page__nav-button {
    display: inline-block;
  }

  .page__header {
    display: none;
  }

  .page__nav-button {
    position: absolute;
    right: 5px;
    top: 7px;
  }

  .page__nav {
    grid-template-rows: 60px fit-content(20px) fit-content(60px) 1fr;

    padding-left: 20px;
  }

  .page__menu {
    display: none;
  }

  .page__nav .page__user {
    display: none;
  }

  .page__nav--is-active .page__menu {
    display: block;
  }

  .page__nav--is-active .page__user {
    display: grid;
  }

  .page__main {
    grid-template-areas:
    "reherseal"
    "gigs"
    "tasks";
    grid-template-columns: 1fr;
    grid-template-rows: fit-content(230px) fit-content(200px) fit-content(200px);

  }
}
