.tasks {
  margin-top: 20px;
  margin-left: 20px;
  grid-area: tasks;
  background-color: white;
  box-shadow: 1px 3px 5px $black;
}

.tasks h2 {
  @include h2-desktop;
  margin: 0;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.tasks__item h3 {
  margin: 0;
  margin-bottom: 20px;
  @include h3-desktop;
}

.tasks__item {
  // @include outline(green);
  box-sizing: border-box;
  width: 90%;
  margin: 0 auto;
  border: 1px solid #DFDFDF;
  box-shadow: 3px 4px 3px lightgray;
  margin-bottom: 20px;
  padding: 20px;
}

.tasks__sublist {
  list-style: none;
  @include list-reset;
}

.tasks__sublist-item {
  @include main-text;
  margin-bottom: 10px;
}

@media (max-width: 867px) {
  .tasks {
    margin-left: 0;
    margin-top: 0;
  }
}
