.user {
  // @include outline(blue);
  grid-row-start: 3;
  grid-row-end: 4;
  // min-height: 100px;

  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: 30px 1fr;
}

.user img {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 2;
}

.user__name,
.user__nickname {
  grid-column-start: 2;
}

.user__name {
  @include username;
}

.user__nickname {
  @include nickname;
}
