@mixin outline($color: red) {
  outline: 4px solid $color;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
}

/* fonts */

@mixin username {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $black;
}

@mixin nickname {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $gray;
}

@mixin menu-item {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: $dark-blue;
}

@mixin date {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 23px;
  color: $black;
}

@mixin main-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 23px;
  color: $black;
}

/* headings */

@mixin logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: $blue;
}

@mixin h2-desktop {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;

  letter-spacing: 0.01em;
}

@mixin h3-desktop {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;

  letter-spacing: 0.01em;
}
