$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$min-mobile: 320px;
$max-mobile: 767px;
$max-tablet: 1023px;

$black: #484848;
$blue: #1fc0fc;
$white: #ffffff;
$yellow: #ffc341;
$red: #ff0000;
$gray: #ebebeb;