$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$min-mobile: 320px;
$max-mobile: 767px;
$max-tablet: 1023px;

$black: #192A3E;
$blue: #109CF1;
$dark-blue: #334D6E;
$white: #ffffff;
$yellow: #ffc341;
$red: #ff0000;
$gray: #90a0b7;
